<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet Mangement System</title>
    <link rel="stylesheet" href="stylesheets/index.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="">
    <div class="nav ">
        <div class="flex justify-between items-center px-4 py-2 bg-gray-800 text-white">
            <div class="flex items-center">
                DMS
                <div class="menu">
                    <li class="list-none mr-9">Home</li>
                    <li class="list-none mr-9">Diet History</li>
                    <li class="list-none mr-9">Diet Plan</li>
                </div>
                <a href="/login"><button class="login">Login</button></a>
                <a href="/register"><button class="ml-5">Register</button></a>
            </div>
        </div>
    </div>
    <img src="images/img1.jpg" alt="" class="scrool">
    <marquee behavior="" direction="" scrollamount="50">Your Diet is Your Bank Account. Stay Healthy & Wealthy</marquee>
    <!-- <div class="page2"> -->
        <img src="images/img2.jpg" alt="" class="img2">
        <div class="side1">
            How Diet Recommendation works?
            <ul class="" style="font-size: 30px; text-align: left; padding-left: 26px;">
                <li>On the bases of Age</li>
                <li>On the bases of Hieght</li>
                <li>On the bases of Weight</li>
                <li>On the bases of Diseases</li>
                <li>On the bases of Activity</li>
                <li>On the bases of Climate</li>
                <li>On the bases of Food</li>
            </ul>
        </div>
    </div>
    <div class="footer">
        Give Some Details to know Your Diet.
        <div style="font-size: 20px; text-align: right;">
            All right Reseverd with abhi 2023
        </div>
    </div>
</body>
</html>