<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Login Page</title>
    <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="../stylesheets/login.css">
</head>
<body>
    <div class="container">
        <div class="logo-section">
            <i class='bx bxs-circle-three-quarter' style="font-size: 50px; color: red; border: 1px solid black; border-radius:50% ;"></i>
            <img src="logo.png" alt="">   
        </div>
        <div class="login-section">
            <h2>Login</h2>
            <p>Welcome <span>Back</span> In Diet System</p>
            <form method="post" action="/login">
                <div class="input-group">
                    <input type="email" placeholder="Enter Email Address" name="email" required>
                </div>
                <div class="input-group">
                    <input type="password" placeholder="Password" name="password" required>
                </div>
                <div class="options">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                    <a href="/register">Don't Have Account? Click Here!</a>
                </div>
                <button type="submit">Login</button>
                <div class="social-login">
                    <p>Login with</p>
                    <div class="social-icons">
                        <a href="#"><i class='bx bxl-facebook' style="height: inherit; width: auto; border: 1px solid black ; color: blue;border-radius: 20px; margin-left: 15px; padding: 5px;"></i></a>
                        <a href="#"><i class='bx bxl-google' style="height: inherit; width: auto; border: 1px solid black ; color: red; border-radius: 20px; margin-left: 15px; padding: 5px;"></i></a>
                        <a href="#"><i class='bx bxl-twitter' style="height: inherit; width: auto; border: 1px solid black ; color: rgb(0, 191, 255); border-radius: 20px; margin-left: 15px; padding: 5px;"></i></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <nav>
            <a href="#">Explore</a>
            <a href="#">What</a>
            <a href="#">Help & Feedback</a>
            <a href="#">Contact</a>
        </nav>
        <p>&copy; 2023 company. All rights and copy rights reserved</p>
    </footer>
</body>
</html>
